[submodule "package/connect_wallet"]
	path = package/connect_wallet
	url = https://github.com/Wadzzo2023/connect_wallet.git
[submodule "connect_wallet"]
	path = connect_wallet
	url = https://github.com/Wadzzo2023/connect_wallet.git
